In [1]:
# === 03_request.ipynb ================================================
# =====================================================================
# Objetivo de verificar se o DataFrame está limpo para o time de data science
# Uso de pandas para manipulação dos dados

In [8]:
# === Bibliotecas =========
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.read_csv("../data/processed/dataset_processed.csv") # lendo os dados

In [13]:
df.isnull().sum()

ID_Cliente      0
Nome_Cliente    0
Idade           0
Região          0
Data_Compra     0
Valor_Compra    0
Produto         0
dtype: int64

In [5]:
df.info() # Verificando se todas as colunas estão corretas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2594 entries, 0 to 2593
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID_Cliente    2594 non-null   object
 1   Nome_Cliente  2594 non-null   object
 2   Idade         2594 non-null   int64
 3   Região        2594 non-null   object
 4   Data_Compra   2594 non-null   object
 5   Valor_Compra  2594 non-null   float64
 6   Produto       2594 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 142.0+ KB

In [12]:
# Convertendo colunas categóricas para valores numéricos

# Criar o codificador
label_encoder = LabelEncoder()

# Converter 'Região' e 'Produto' para valores numéricos
df['Região'] = label_encoder.fit_transform(df['Região'])
df['Produto'] = label_encoder.fit_transform(df['Produto'])


print(df)

     ID_Cliente Nome_Cliente  Idade  Região Data_Compra  Valor_Compra  Produto
0         C0001    Cliente 1     58       2  2023-01-26        296.25        8
1         C0001    Cliente 1     58       2  2023-09-29         87.14        8
2         C0001    Cliente 1     58       2  2023-02-11        427.16       13
3         C0001    Cliente 1     58       2  2023-11-01         43.30       18
4         C0001    Cliente 1     58       2  2023-07-26         68.74       10
...         ...          ...    ...     ...         ...           ...      ...
2589      C0099   Cliente 99     42       1  2023-10-14        190.97       14
2590      C0099   Cliente 99     42       1  2023-11-05        427.64       14
2591      C0099   Cliente 99     42       1  2023-03-03        191.10        1
2592      C0099   Cliente 99     42       1  2023-01-21        266.16       14
2593      C0100  Cliente 100     40       3  2023-07-10        159.41        3

[2594 rows x 7 columns]

In [15]:
df.to_csv('../data/processed/ds_request.csv', index=False)